// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #AAAAAA;
$light-gray: #F4F4F4;
$medium-gray: #CCCCCC;
$indigo: #4B0082;
$plum: #DDA0DD;
