.card-proj {
  background-color: $medium-gray;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.card-image {
  height: 150px;
  background-color: $medium-gray;
  background-size: cover;
  flex: 0 0 auto;
  margin: 5px;
  border-radius: 3px;
}

.card-captions {
  padding: 10px;
  height: 160px;
  background-color: $medium-gray;
  background-size: cover;
  flex: 0 0 auto;
}

.card-data {
  padding: 10px;
  height: 160px;
  background-color: $medium-gray;
  background-size: cover;
  flex: 0 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 10px;
}

.mytab {
  flex: 0 1 100px;
  background: black;
  opacity: 0.87;
  color: white;
  border: 3px solid lightgray;
  border-radius: 3px;
  height: 100vh;
}

.row {
  flex: 1 0 auto;
}
