.card-proj {
  background-color: $medium-gray;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-image {
  height: 150px;
  background-color: $medium-gray;
  background-size: cover;
  flex: 0 0 auto;
  margin: 5px;
}

.card-captions {
  padding: 10px;
  height: 160px;
  background-color: $medium-gray;
  background-size: cover;
  flex: 0 0 auto;
}

.card-data {
  padding: 10px;
  height: 160px;
  background-color: $medium-gray;
  background-size: cover;
  flex: 0 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 10px;
}

.mytab {
  flex: 0 0 100px;
}

.row {
  flex: 0 0 auto;
}
