#topay {
  background-color: white;
  border: none;
}

ul {
  list-style-type: none;
}

li:hover {
  cursor: grab;
}

table {
  border-spacing: 20px;
  border-collapse: separate;
}

td {
  text-align: right;
}
