#topay {
  background-color: $brand-danger;
  border: none;
  margin: 20px 0px;
  width: 100%;
  border-radius: 3px;
}

.divul {
  margin: 20px 0px;
  background-color: $brand-danger;
  border-radius: 3px;
}

#inp_amount {
  color: black;
}

.li {
  width: 100%;
}

.li:hover {
  cursor: grab;
}

table {
  border-spacing: 20px;
  border-collapse: separate;
}

td {
  text-align: right;
}

.banner-g {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

#project_num {
  display: none;
}
