#topay {
  background-color: $brand-danger;
  border: none;
  margin: 20px 0px;
  width: 100%;
  border-radius: 3px;
}

.divul {
  margin: 20px 0px;
  background-color: $brand-danger;
  border-radius: 3px;
}

#inp_amount {
  color: black;
}

.li {
  width: 100%;
}

.indi-user {
  width: 100%;
}

.indications {
  background-color: $green;
}

.indi-user:hover {
  cursor: grab;
}

.indi-content {
  background-color: $blue;
  width: 100%;
  height: 100px;
}

.li:hover {
  cursor: grab;
}

table {
  border-collapse: separate;
  align-self: center;
  color: black;
  border: 1px solid $medium-gray;
  border-radius: 5px;
}

tr:nth-child(even) {
  background-color: $medium-gray;
}

tr:nth-child(odd) {
  background-color: $gray;
}


td {
  text-align: right;
  padding: 10px;
}

.banner-g {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  float: left;
}

.tagline {
  position: absolute;
  text-align: center;
  left: 0;
  top: 50%;
  width: 100%;
  color: black;
}

.firstline {
  font-size: 64px;
  font-weight: bold;
}

.secondline {
  font-size: 40px;
  font-weight: normal;
}

.banner-g img {
  margin-bottom: 0;
  padding-bottom: 0;
}


#project_num {
  display: none;
}

h2 {
  color: black;
}

body {
  font-family: 'Open Sans';
  font-size: 20px;
}
